/* === Restore nested list indentation === */
.md-typeset ul,
.md-typeset ol {
  padding-left: 1.25em;
  list-style-position: outside;
}

.md-typeset ul ul,
.md-typeset ol ol,
.md-typeset ul ol,
.md-typeset ol ul {
  margin-left: 1.25em;
}
